
<div class="ui inverted violet vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a class="item" href="#root">Sitemap</a>
            <a class="item" href="#root">Contact Us</a>
            <a class="item" href="#root">Articles</a>
            <a class="item" href="#root">Privacy Policy</a>
          </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Services</h4>
        <div class="ui inverted link list">
          <a class="item" href="#root">Writing stuff</a>
          <a class="item" href="#root">DNA FAQ</a>
          <a class="item" href="#root">Design</a>
          <a class="item" href="#root">Development</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Express Blog</h4>
          <p>
           Extra space for a call to action inside the footer that could
           help re-engage users.
          </p>
      </div>
    </div>
  </div>
</div>
      